# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# OS or editor folders
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build or dist folders
dist/
build/

# Environment variables
.env
